<%- include("partials/header") -%>

    <div class="container">
        <a href="/register" class="btn btn-primary"">Register</a><br>
        <a href="/login" class="btn btn-primary"">Login</a><br>
    </div>

<%- include("partials/footer") -%>